body {
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100% !important;
    background-color: black;
    position: sticky;
    height: 90px;
    top: 0;
}
.main a{
    color: white;
    font-size: 24px;
}
.main ul{
    display: flex;
}
.main ul li{
    list-style-type: none;
    padding: 3%;
    font-size: 22px;
}
.main ul li a{
    color: white;
    text-decoration: none;
}
.main ul li a:hover{
    color:#007bff;;
}

.active{
    border-bottom:2px solid #007bff;        
}



.navbar a:hover {
    color: #007bff;
    text-decoration: none;
}


/* Home Section */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}


.home-content h1{
    font-size: 70px;
}


/* Animation Styling */
#animated-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#animated-text.animate {
    opacity: 1;
    transform: translateY(0);
}

                                                                                                                                                                                                                                                                

.About {
    height: 90vh;    
    justify-content: space-between;
    background-color: black;
    display: flex;
    align-items: center;
    
}











